@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

/* reset CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: -10;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Variables */

:root {
  --clr-dark: #740001;
  --clr-medium: #D3A625;
  --clr-light: #EEBA30;
}

/* Utilities */
.no-display {
  display: none;
}

/* Toggle sound */

.toggle-sound {
width: 5rem;
height: 5rem;
position: absolute;
top: 2%;
right: 5%;
z-index: 30;
}

#pause-sound {
  display: none;
}

.sound-icons {
  color: var(--clr-light);
  text-shadow: 0 0 5px #000;
}
/* Main Screen */

.main-screen {
  height: 100vh;
  width: 100vw;
  z-index: 15;
}

.center-logo {
  width: 33%;
  height: 30rem;
  margin: 20rem auto;
  padding: 1rem;
  text-align: center;
}

.image-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: -1;
}

.image-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  z-index: -1;
}

.logo {
  margin: auto;
  width: 100%;
}

/* Logo animation */

.levitate {
  animation: levitate 2.5s ease-in-out infinite;
}

@keyframes levitate {
  from {
    transform: translate(0, 0px);
  }
  45% {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(0, -0px);
  }
}

/* Main screen button */
.button-enter {
  width: 50%;
  margin: 3rem;
  border: 8px solid var(--clr-medium);
  border-radius: 25px;
  box-shadow: 0 0 15px var(--clr-medium);
  color: antiquewhite;
  background-image: linear-gradient( to right, var(--clr-dark) 0%, #ad393b 51%, var(--clr-dark) 100%);
  font-size: 3rem;
  font-family: "Lakki Reddy";
  padding-top: 1.5rem;
  text-shadow: 0 0 10px #000;
}

.button-enter:hover {
  transform: scale(1.2);
}

/* Split main screen */

.transform-left {
  transition: all 1s ease-out;
  transform: translateX(-100%);
}

.transform-right {
  transition: all 1s ease-out;
  transform: translateX(100%);
}

/* Game screen */

.game-screen {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  display: flex;
  background: url(../images/red-brick.webp) no-repeat;
  background-size: cover;
}

.game-area {
  width: 40%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: auto;
  background-color: var(--clr-medium);
  perspective: 1000px;
  transform: scale(0.5);
  box-shadow: 0 0 15px #000;

}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.774);
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.memory-card:active {
  transform: scale(0.95);
  transition: 0.2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #1c7dcc;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}
.front-face {
  padding: 5px;
  transform: rotateY(180deg);
}

/* Name screen */

.name-screen {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.opacity {
  animation-name: opacity;
  animation-duration: 1s;
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}