@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

/* reset CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: -10;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Variables */

:root {
  --clr-dark: #740001;
  --clr-medium: #D3A625;
  --clr-light: #EEBA30;
}

/* Utilities */
.no-display {
  display: none;
}

/* Toggle sound */

.toggle-sound {
width: 5rem;
height: 5rem;
position: absolute;
top: 2%;
right: 5%;
z-index: 30;
}

#pause-sound {
  display: none;
}

.sound-icons {
  color: var(--clr-light);
  text-shadow: 0 0 5px #000;
}
/* Main Screen */

.main-screen {
  height: 100vh;
  width: 100vw;
  z-index: 15;
}

.center-logo {
  width: 33%;
  height: 30rem;
  margin: 20rem auto;
  padding: 1rem;
  text-align: center;
}

.image-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: -1;
}

.image-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  z-index: -1;
}

.logo {
  margin: auto;
  width: 100%;
}

/* Logo animation */

.levitate {
  animation: levitate 2.5s ease-in-out infinite;
}

@keyframes levitate {
  from {
    transform: translate(0, 0px);
  }
  45% {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(0, -0px);
  }
}

/* Main screen button */
.button-enter {
  width: 50%;
  margin: 3rem;
  border: 8px solid var(--clr-medium);
  border-radius: 25px;
  box-shadow: 0 0 15px var(--clr-medium);
  color: antiquewhite;
  background-image: linear-gradient( to right, var(--clr-dark) 0%, #ad393b 51%, var(--clr-dark) 100%);
  font-size: 3rem;
  font-family: "Lakki Reddy";
  padding-top: 1.5rem;
  text-shadow: 0 0 10px #000;
}

.button-enter:hover {
  transform: scale(1.2);
}